<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.input :first_name, placeholder: 'First Name', label: false %><br /></div>

  <%= f.input :last_name, placeholder: 'Last Name', label: false %><br />

  <%= f.input :email, placeholder: 'Email', label: false %><br />

  <%= f.input :password, placeholder: 'Password', label: false %><br />

  <%= f.input :password_confirmation, placeholder: 'Confirm Password', label: false %><br />

  <%= f.button :submit %>
<% end %>

<%= render "devise/shared/links" %>
